<ion-view title="Contacts" id="page1">
  <ion-content padding="true" class="has-header">
    <ion-list id="contacts-list1">
      <ion-item class="item-avatar" id="contacts-list-item1" ui-sref="nanana()">
        <img src="img/wmOBNAPmTGXJqqIOOrHW_41JLTctt4PL.jpg">
        <h2>lexi belle</h2>
        <p>09239834563</p>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item2" ui-sref="aldub()">
        <img src="img/hHjB6SIETkmzYP3KlgVa_40565376_488645861545955_3146123918675279872_n.jpg">
        <h2>aldrin</h2>
        <p>09876528374</p>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item3" ui-sref="milf()">
        <img src="img/YPY0hj6sSCG34wrWmSiy_download1.jpg">
        <h2>Maui taylor</h2>
        <p>09384756452</p>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item4" ui-sref="magBabato()">
        <img src="img/H0snztpfSb52L79E9b0X_bato-delarosa-012317.jpg">
        <h2>bato dela rosa</h2>
        <p>09745364527</p>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item5" ui-sref="dunker()">
        <img src="img/1MKSXm5xT0GUVpp3MeB6_melton-benchwarmers.jpg">
        <h2>Justin melton</h2>
        <p>09746252637</p>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item6" ui-sref="allenIPhi()">
        <img src="img/jggtfGB5Q0WrKOCOdbjY_download2.jpg">
        <h2>terrence romeo</h2>
        <p>09645374658</p>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item7" ui-sref="wrapppp()">
        <img src="img/tu3wFjYWROOEoAK2Bo5Z_900_675_03Main_Image1000x750-updated0717__20180126105532.jpg">
        <h2>bianca umali</h2>
        <p>09465783546</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>